.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.imglist{
	max-width: 1200px;
	margin: auto;
}
.imglist *,
.imglist *::after,
.imglist *::before{
	box-sizing: border-box;
	transition: all .5s ease;
}
.imglist figure{
	width: 30%;
	float: left;
	margin: calc(10%/6);
	overflow: hidden;
	position: relative;
	cursor: pointer;
	border: 10px solid rgba(255,255,255,.5);
	box-shadow: 1px 1px 4px 0px rgba(0,0,0,.6);
}
.imglist figure img{
	vertical-align: top;
	max-width: 100%;
	backface-visibility: hidden;
	transform: scale(1) rotate(0deg);
}
.imglist figure:hover img{
	transform: scale(1.2) rotate(5deg);
}
.imglist figure figcaption{
	content: "";
	z-index: 3;
	position: absolute;
	width: 60%;
	height: 30%;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 1px solid #fff;
	border-bottom: none;
	background-color:rgba(0,0,0,.5);	
}
.imglist figure:hover figcaption{
	background-color:rgba(0,0,0,0);
}
.imglist figure figcaption::before,.imglist figure figcaption::after{
	content: "";
	position: absolute;
	width: 50%;
	height: 1px;
	background-color: #fff;
	bottom: 0px;
}
.imglist figure figcaption::before{
	left: 0;
}
.imglist figure figcaption::after{
	right: 0;
}

.imglist figure:hover figcaption::before,
.imglist figure:hover figcaption::after
{
	width: 20%;
}
.imglist figure figcaption h3{
	font-size: 30px;
	text-align: center;
	margin: 10px;
	color: #fff;
}
.imglist figure figcaption p{
	text-align: center;
	color: #fff;
	opacity: 0;
	top: -5px;
}
.imglist figure:hover figcaption p{
	opacity: 1;
}